@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.float-label-input {
  margin: 0;
}

.float-label-input:focus-within label,
.float-label-input input:not(:placeholder-shown)+label {
  transform: translateY(-1.5rem) scale(0.75);
  background-color: #181818;
}

::selection {
  background-color: #f5e141;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}